@{
    ViewData["Title"] = "Звіти";
}

<h1>Звіти</h1>

<p>
    <ul>
        <li>
            <a asp-action="ReportOrder">Звіт по замовлення</a>
        </li>
        <li>
            <a asp-action="RepotrClient">Звіт по клієнтам</a>
        </li>
        <li>
            <a asp-action="RepotrWorker">Звіт по працівникам</a>
        </li>
        <li>
            <a asp-action="ReportCar">Звіт по автомобілям</a>
        </li>
        <li>
            <a asp-action="ReportService">Звіт по послугам</a>
        </li>
    </ul>
</p>