@model WebApplicationTireFitting.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Додати транспорт</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Назва</label>
                <input asp-for="Name" class="form-control" maxlength="50"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Власник</label>
                <input asp-for="Owner" class="form-control"maxlength="50" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Клієнт</label>
                <select asp-for="IdClient" class ="form-control" asp-items="ViewBag.IdClient"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Вид транспорту</label>
                <select asp-for="IdTypeOfCar" class ="form-control" asp-items="ViewBag.IdTypeOfCar"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Фото</label>
                <input type="file" name="uploadedFile" accept=".jpg, .jpeg, .png" /><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
